.menu {
  margin-top: 85px;
  margin-bottom: -70px;
  display: flex;
  flex-direction: column;
  height: 90%;
  background-color: #FBF8F1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu::after{
  content: "";
  display: block;
  height: 70px;
}


.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100%;
  grid-gap: 15px;
}